* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
/*.************************HOME PAGE NAVIGATION**************.*/
body{
	font-family: 'Dosis', sans-serif;
}

#wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
}
label{
  cursor: pointer;
  &:focus
    outline: none;
	}
.menu{
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 240px;
  height: 100%;
  transform: translate3d(-240px, 0, 0);
  transition: transform 0.35s;
}
  label.menu-toggle  {
    position: absolute;
    right: -60px;
    width: 60px;
    height: 60px;
    line-height: 0px;
    display: block;
    padding: 0;
    text-indent: -9999px;
    background: #fff url("images/sqq.png") 50% 50% / 60px 65px no-repeat;
  }
  ul
    li
      > label{
        background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png) 95% 50% / 16px 16px no-repeat
}
			a, label{
        display: block;
        text-align: center;
        padding: 0 20px;
        line-height: 60px;
        text-decoration: none;
        color: #000;
			}
        &:hover{
          color: #666;
				}

/* hide inputs */
.menu-checkbox{
  display: none;
}
/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle{
  background: none;
}
/* fade in checked menu */
.menu-checkbox:checked + .menu{
  transform: translate3d(0, 0, 0);
}


/* for show */
html, body{
  height: 100%;
}
#home{
  background: url("images/up.gif") 60% 40% / cover;
}
p{
  margin-bottom: 15px;
}
#info{
  display: table;
  background: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
}
  #info-content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-transform: none;
    color: #fff;
    font-size: .8rem;
	}
    h1{
      color: #fff;
      border: 3px solid #fff;
      text-align: center;
      background: rgba(0,0,0,0.1);
      font-size: 2rem;
      font-weight: normal;
      padding: 20px;
      margin: 10px;
      display: inline-block;
		}
      strong{
        display: block;
        font-size: 26px;
   }


	/*.************************ END HOME PAGE NAVIGATION**************.*/
	/*.************************  ANNIMATION HOME PAGE NAVIGATION**************.*/
	li {
	    margin-bottom: 10px;
	}

	.cool-link {
	    display: inline-block;
	    color: #000;
	    text-decoration: none;
	}

	.cool-link::after {
	    content: '';
	    display: block;
	    width: 0;
	    height: 2px;
	    background: #000;
	    transition: width .3s;
	}

	.cool-link:hover::after {
	    width: 100%;
	    //transition: width .3s;
	}
	/*.************************ LOGO HOME PAGE NAVIGATION**************.*/
	.logo{
		width: 20%;
	}
	/*.************************  ABOUT  PAGE NAVIGATION**************.*/

.sq1{
	width: 65%;
}
.about{
	width: 65%;
}
.main-container{
background: rgba(255, 253, 208, .5);
width: 75%;
margin-left: 25px;

}
.one{
font-family: 'Dosis', sans-serif;
text-transform:none;
display: flex;
width: 100%;
flex-flow:column;
}
.one h2{
	padding-bottom:3%;
}
.one h3{
	padding-bottom: 6%;
}


/*.***********LIST**********.*/
/* LIST #2 */
#list2 {
	 width:320px;

 }
#list2 ol
 {
	  font-style:italic;
	 font-size:1.5rem;
	  color:#f3c935;
		padding-left: 40px;
		padding-right: 10%;
	}
#list2 ol li {
	line-height: 1rem;

}
#list2 ol li p {
	text-align: left;
	line-height: .8rem;
	 padding-left:30px;
	  font-style:normal;
		 font-family:Arial;
		  font-size:.8rem;
			color:#603813;
			 border-left: 2px solid #603813;
		  }
#list2 ol li p em {
	 display:block;
	 color:#603813;
 }

/*.****************TWO*****************.*/
.two{
	padding: 5%;
}
.two h3{
	padding-bottom: 3%;
	text-decoration: underline;
}
.two p{
color:#603813;
}
/*.******START FLEXBOX*******.*/
.pic-grid{
	display: flex;
	flex-wrap: wrap;
}
figure{
	width:100%;
	margin-bottom:0;
	padding-bottom: 0;
}
img{
	max-width: 100%;
}

/*.******END FLEXBOX*******.*/
